
:root{
/*colors*/
/*primary*/
--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

/*neutral*/
--transparent-white: hsla(0, 0%, 100%, 0.75);
--very-light-gray: hsl(0, 0%, 95%);

--font-family-big: 'Big Shoulders Display', cursive;
--font-family-lexend: 'Lexend Deca', sans-serif;
}

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body{
   
    background-color: var(--very-light-gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: var(--font-family-big);
    font-size: .9375rem;
    color: var(--very-light-gray);
    font-weight: 400;
    
}  
.preview-card{
    max-width: 62.5rem;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: .75rem;
    margin: 2rem;
    overflow: hidden;
}



.card{
    padding:2.9375rem 2.5rem 2.5rem 3.4375rem ;
    background-color: var(--bright-orange);
}
.preview-card-two{
    background-color: var(--dark-cyan);
}

.preview-card-three{
    background-color: var(--very-dark-cyan);
}

.card h2{
    font-size: 2.8125rem;
    text-transform: uppercase;
    margin: 2.375rem 0;

}

.card p{
    color: var(--transparent-white);
    font-family: var(--font-family-lexend);
    line-height: 1.9em;
}

.card a{
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: .8125rem 2.5rem;
    margin-top: 3.75rem;
    border-radius: 1.625rem;
 
    display: inline-block;
    border: .125rem solid hsl(0, 0%, 95%);
    transition: all .4s ease-in-out;
}

.card a:hover{
        color: hsl(0, 0%, 95%);
        background: transparent;
        
}
.card a:active{
    transform: translate(.0625rem,.0625rem);
  }

.preview-card-one a{
    color:var(--bright-orange);
} 
.preview-card-two a{
    color:var(--dark-cyan);
}

.preview-card-three a{
    color:var(--very-dark-cyan);
}



@media only screen and (max-width: 48rem) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 26.5625rem) {
    .wrapper {
        margin: 2rem .5rem;
    }
    .card{
        padding: 2.5rem 7.5rem 2.5rem 2.8125rem; 
    }
    .card a{
        margin-top: 1.875rem; 
    }
}